{% extends 'waterpump/base.html' %}

{% block title %}Node {{ node_id }}{% endblock %}
{% block extrahead %}<meta http-equiv="refresh" content="5">{% endblock %}
{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Node {{ node_id }}</li>
            </ol>
        </nav>
        <h3>Node {{ node_id }}</h3>
        <div class="list-group">
            {% for val in values %}
                <a href="{% url 'waterpump:nodePage' node_id val %}" class="list-group-item list-group-item-action">{{ val }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}