{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Node {{ node_id }}</title>
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <a href="/">Go back</a>
        <h3>Node {{ node_id }}</h3>
        <table id="tb">
            <tr>
                <th>Moisture %</th>
                <th>Timestamp</th>
            </tr>
            {% for val in values %}
                <tr>
                    <td>{{ val.moisture }}%</td>
                    <td>{{ val.timestamp|date:'Y-m-d h:i A' }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>